@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color: black;
}


::-webkit-scrollbar {
  width: 10px; 
  height: 10px; 
}

::-webkit-scrollbar-track {
  background: #2D2D2D;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #555; 
  border-radius: 10px;
  border: 2px solid #2D2D2D; 
}

::-webkit-scrollbar-thumb:hover {
  background: #777; 
}


* {
  scrollbar-color: #555 #2D2D2D;
  scrollbar-width: thin; 
}


.btn-more {
  position: relative;
  padding-right: 3rem;  
  transition: all 0.2s ease-in-out; 
  overflow: hidden; 
}

.btn-more::after {
  content: '\27A4'; 
  position: absolute;
  right: 1rem; 
  top: 50%;
  transform: translateY(-50%); 
  font-size: 1.5rem; 
  transition: transform 0.2s ease-in-out; 
}

.btn-more:hover::after {
  transform: translateY(-50%) translateX(0.25rem); 
}
